
/****************
*
*   Charte graphique
*
****************/

/*
    Corps :
    http://www.fontsquirrel.com/fonts/source-sans-pro
    https://fonts.google.com/specimen/Source+Sans+Pro
*/
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
    Titres :
    http://www.fontsquirrel.com/fonts/crimson
    https://fonts.google.com/specimen/Crimson+Text
*/
    /* Ne charger que ce qui est utile */

/*
    Symboles :
    http://fortawesome.github.io/Font-Awesome/get-started/#bootstrapcdn
    http://fortawesome.github.io/Font-Awesome/icon/facebook/
*/


/*
    Couleurs :
*/
/*noinspection CssOverwrittenProperties*/
.exemples-couleurs {
    color: #f6f1eb; /* Fond de page */
    color: #4a382a; /* couleur de texte*/
    color: #b5a38c; /* couleur de texte element time */
    color: #82a523; /* couleur de lien*/
    color: #ff6635; /* couleur de lien survolé*/
    color: #999;    /* bordures */
    color: #CCC;    /* bordures */
}


/****************
*
*   Réglages typographie/couleur
*
****************/

html {                  /* Pour faciliter l'usage des em/rem */
    /* permet de varier l'ensemble des tailles avec une seule valeur */
    font-size: 62.5%;   /* 1em == 10px */
}


body {                          /* S'applique à la racine : à l'ensemble de la page par héritage */

    background-color: #f6f1eb;  /* toujours mettre la couleur de fond avec */
    color: #4a382a;             /* la couleur du texte (même si on ajoutera une image en fond) */

    /* Mettre les déclarations qui correspondent à votre @font-face et votre maquette */
    /* (éventuellement, le copier de l'import) */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;

    /* La taille de texte */
    font-size: 1.6rem;          /* 16px */
    line-height: 2rem;          /* 20px : toujours avec font-size, fixer line-height */

    /* Marge de toute la page (peut-être 0) */
    margin: 0 10px;
}

/* Pour les liens */
a:link, a:visited {     		/* pour tout élément A simple, lié ou visité */
    text-decoration: none;		/* pas de soulignement de texte */
    color: #82a523;				/* couleur du texte = #82a523 */
}
a:hover, a:focus {						/* pour tout élément a survolé */
    color: #ff6635;
}

/* pour tous les titres */
h1,h2,h3,h4 {
    /* Fixer couleur et typographie : */
    color: #82a523;
    /* background-color: #f6f1eb; */
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: 400;
}
/* tailles de chaques titres */
h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin: 1rem 0; /* Toujours mettre les marges sur les éléments */
}
h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 1rem 0;
}
h3 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1rem 0 0 0;
}
h4 {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
}

/* Pour un éléments précis basé sur l'imbrication */

section.selection > article > footer > time {
    color: #b5a38c;
}

nav.navigation-principale {
    color: #fff;
    background-color: #4a382a;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 400;

    font-size: 2rem;
    line-height: 4rem;
}
